# Mobile App for Lottery Addiction

The purpose of this project is to research the probabilities of winning the lottery to create an app.  We will examine a dataset containing 6/49 Canadian lottery historical numbers and model our research on this lottery. We will determine the probablity of winning the grand prize, the probability of winning winning with multiple ticket purchases and the probability of having at least five, four, three, etc winning numbers in single ticket.  This research will involve empirical probabilities, combinations and permutations.

### Creating Factorial and Combination Functions

In [1]:
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator/denominator

# creating functions to generate factorials and combinations

In [2]:
def one_ticket_probability(list):
    n_combs = combinations(49, 6)
    prob = 1 / n_combs
    print("You have a 1 in {:,} chance to win".format(int(n_combs)))
    
# function which determines the probability of winning based on numbers picked

In [3]:
one_ticket_probability([5,4,3,2,1,6])

# testing function created above

You have a 1 in 13,983,816 chance to win

### Data Profiling with 6/49 Canadian Lottery

In [4]:
import pandas as pd

lottery_canada = pd.read_csv('649.csv')

# importing Canadian lottery data

In [5]:
lottery_canada.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [6]:
lottery_canada.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [7]:
lottery_canada.shape

(3665, 11)

In [8]:
def extract_numbers(row):
    numbers = row[4:10]
    numbers = set(numbers.values)
    return numbers

winning_numbers = lottery_canada.apply(extract_numbers, axis = 1)

# function to pull all winning lottery numbers into a set

In [9]:
winning_numbers.head()

#testing function

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

### Verifying Past Winning Numbers

In [10]:
def check_historical_occurence(check_nums, winning_nums):
    check_nums = set(check_nums)
    num_wins = 0
    for num in winning_nums:
        if check_nums == num:
            num_wins += 1
    if num_wins == 0:
        print("This combination of numbers has not occured in the past.  You have a 1 in 13,983,816 chance on winning the next drawing")
    else:
        print("This combination has occured {:,} time(s) in the past.  You have a 1 in 13,983,816 chance on winning the next drawing".format(num_wins))
        
# function which checks if given numbers won in the past

In [11]:
check_historical_occurence([3,41,11,12,43,14], winning_numbers)

print("\n")

check_historical_occurence([1,41,11,12,43,14], winning_numbers)

#testing the function

This combination has occured 1 time(s) in the past.  You have a 1 in 13,983,816 chance on winning the next drawing


This combination of numbers has not occured in the past.  You have a 1 in 13,983,816 chance on winning the next drawing

### Determining Probability with Multiple Tickets

In [12]:
def multi_ticket_probability(num_tickets):
    total_outcomes = combinations(49, 6)
    probability = num_tickets / total_outcomes * 100
    combs_updated = total_outcomes / num_tickets
    print("Your chances of winning the grand prize with {:,} tickets is {:,.6f} % or 1 in {:,}".format(num_tickets, probability, int(combs_updated))
         )
    
# function to predict probability with mutiple tickets

In [13]:
multi_ticket_probability(10)

Your chances of winning the grand prize with 10 tickets is 0.000072 % or 1 in 1,398,381

In [14]:
test_nums = [1, 10, 100, 1000, 1000000, 6991908, 13983816]

for num in test_nums:
    multi_ticket_probability(num)
    print("\n")
    
# testing the function with various ticket purchases

Your chances of winning the grand prize with 1 tickets is 0.000007 % or 1 in 13,983,816


Your chances of winning the grand prize with 10 tickets is 0.000072 % or 1 in 1,398,381


Your chances of winning the grand prize with 100 tickets is 0.000715 % or 1 in 139,838


Your chances of winning the grand prize with 1,000 tickets is 0.007151 % or 1 in 13,983


Your chances of winning the grand prize with 1,000,000 tickets is 7.151124 % or 1 in 13


Your chances of winning the grand prize with 6,991,908 tickets is 50.000000 % or 1 in 2


Your chances of winning the grand prize with 13,983,816 tickets is 100.000000 % or 1 in 1

### Probability of Matching a Given Amount of Nums

In [24]:
def probability_less_6(num_right):
    
    num_combs = combinations(6, num_right)
    remaining_combs = combinations(43, 6 - num_right)
    successful_outcomes = num_combs * remaining_combs
    
    total_combs = combinations(49, 6)    
    probability = successful_outcomes / total_combs
    
    probability_percentage = probability * 100    
    combinations_simplified = round(total_combs/successful_outcomes)    
    print("Your chance of having {} winning numbers with this ticket is {:.6f}% or a 1 in {:,} chances to win."
          .format(num_right, probability_percentage, int(combinations_simplified)))
    
# function to calculate the probability to match a given amount of numbers entered

In [27]:
for test_input in [2, 3, 4, 5]:
    probability_less_6(test_input)
    print("\n")
    
# testing function above

Your chance of having 2 winning numbers with this ticket is 13.237803% or a 1 in 8 chances to win.


Your chance of having 3 winning numbers with this ticket is 1.765040% or a 1 in 57 chances to win.


Your chance of having 4 winning numbers with this ticket is 0.096862% or a 1 in 1,032 chances to win.


Your chance of having 5 winning numbers with this ticket is 0.001845% or a 1 in 54,201 chances to win.